.profile-default-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-default {
	width: 8rem;
	height: 8rem;
	background-color: yellow;
	border-radius: 50%;
	font-size: 5rem;
}

.profile-default {
	padding: 5px;
}

