
#profile {
	display: flex;
	
}

.profile-left {
	height: 85vh;
	width: 25%;
	background-color: #292c3c;
	text-align: center;
}

.profile-left h3 {
	text-align: center;
	color: #c6d0f5;
}

.profile-left button {
	padding: 20px;
	margin-top: 20px;
}

.profile-right {
	height: 85vh;
	width: 75%;
	background-color: #232634;
	color: #c6d0f5;
}

.nav-tabs{
	border-color: #414559;
}
