
.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: blur(2px);
}

.imgcontainer {
	overflow: hidden;
}

.card {
	background-color: #414559;
	overflow: hidden;
}

.card-body {
	background-color: #414559;
}

#form2Example17 {
	background-color: #292c3c;
	border: none;
	color: #c6d0f5;
}

#form2Example27 {
	background-color: #292c3c;
	border: none;
	color: #c6d0f5;
}

section .btn {
	width: 100%;
	color: #c6d0f5;
	background-color: #292c3c;
}

section .btn:hover {
	background-color: #f4b8e4;
}

section * {
	color:  #f4b8e4;
}

.signuplogo {
	width: 8rem;
}

.signuplogocontainer {
	justify-content: center;
}

.signuplogocontainer h5 {
	text-align: center;
}


.loginicons {
	width: 100%;
	text-align: center;
	color: white;
}

.loginicons > .loginicon {
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	padding-bottom: 1rem;
	font-size: 32px;
}

.smalltext {
	display: flex;
	justify-content: center;
}

.loginicon path {
	color: #292c3c;
	transition: 200ms ease-in-out;
}

.loginicon path:hover {
	cursor: pointer;
	color: white;
}
